
footer {
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgb(255, 255, 255,0.5);
  padding: 10px;
  height: auto;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 0vh;

}

.footer>div {
  margin: 10px;
}
