body {
    background: rgb(206, 229, 248);
}



.app-header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 900;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 600px) {
    .app-header {
        font-size: 8vw;
        margin: 20px auto;
    }
    
}