
body{
  background:black;

}
.landingpage{
  background-image: url(https://static.toiimg.com/photo/70189092.cms);
height:100vh;
width:100%;
background-repeat: no-repeat;
background-size:cover;


}
.landing-content{
  text-align:center;
  padding-top:40vh;
  z-index:1;
  position:relative;


}
.landing-header{
  font-size: 40px;
  color:#fff;
  font-family: 'Reggae One'
}
.landing-link{
  height:2em;
  /* position:relative; */
  color: red;
  background-color: pink;
}